# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Compiled class file
*.class

# Log file
*.log

### Gradle Files ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
.temp
*.iws
*.iml
*.ipr
/out/
/lib/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
/target/archive-tmp/
/log/
.DS_Store

src/main/resources/

